
<div class="modal fade" id="newsletter" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Available to subscribers only</h4>
      </div>
      <div class="modal-body">
        <p>Subscribe to our newsletter to read more</p>
        <form action="//bitballoon.us14.list-manage.com/subscribe/post?u=cfeb727e3daa36e6ae7017585&amp;id=07003cb284" method="post" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="form-control" placeholder="Enter your e-mail address" required>
            <input type="hidden" name="b_cfeb727e3daa36e6ae7017585_07003cb284" tabindex="-1" value="">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>
</div>
