<?xml version="1.0" encoding="utf-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
  version="3.0">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>content</servlet-name>
    <servlet-class>spacecolony.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>content</servlet-name>
    <url-pattern>/content/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prospect</servlet-name>
    <servlet-class>spacecolony.ProspectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prospect</servlet-name>
    <url-pattern>/prospect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>react</servlet-name>
    <servlet-class>spacecolony.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>react</servlet-name>
    <url-pattern>/Home</url-pattern>
    <url-pattern>/Blueprints/*</url-pattern>
    <url-pattern>/Science/*</url-pattern>
    <url-pattern>/Experience/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/prospect/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>spacecolony.Initialization</listener-class>
  </listener>

</web-app>
