
body {
  margin: 0px;
  background-color: black;
}

#heading {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#heading-banner-0 {
  -webkit-flex: 10 0 0; 
  flex: 10 0 0;
  background: url("/assets/pics/heading-banner-0.jpg") repeat-x;
  background-size: auto 100%;
}
#heading-banner-1 {
  -webkit-flex: 1 0 0; 
  flex: 1 0 0;
  background: url("/assets/pics/heading-banner-1.jpg") repeat-x;
  background-size: auto 100%;
}

#heading-title {
  margin-top: 0px;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-weight: 900;
  color: white;
  mix-blend-mode: difference;
}

@media (min-width:500px) {
  #heading {
    height: 70px;
  }
  #heading-title {
    font-size: 36px;
  }
}
@media (max-width:499px){
  #heading {
    height: 36px;
  }
  #heading-title {
    font-size: 20px;
  }
}

h2 {
  font-family: 'Audiowide', cursive;
  font-size: 1.2em;
  margin-top: 0px;
}

h3 {
  font-family: 'Audiowide', cursive;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

a:link {
  color: LightSteelBlue;
  text-decoration: none;
}
a:visited {
  color: LightSteelBlue;
  text-decoration: none;
}
a:hover {
  color: SteelBlue;
  text-decoration: underline;
}
a:active {
  color: SteelBlue;
  text-decoration: underline;
}

.navigable {
  padding-right: 40px;
  background-image: url('/assets/pics/chevron-arrow-right.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

.navpath {
  margin-right: 5px;
  font-family: 'Audiowide', cursive;
  font-size: 1.0em;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
