<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Space Colony One</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/spacecolony.css">
  </head>

  <body>

    <div id="heading">
      <div id="heading-banner-0">
        <div id="heading-title">SPACE COLONY ONE</div>
      </div>
    </div>

    {{{body}}}

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/react.min.js"></script>
    <script src="/assets/js/react-router.min.js"></script>
    <script src="/assets/js/react-dom.min.js"></script>

    <div style="color: LightSteelBlue; text-align: center;">All rights reserved, 2017. <a href="mailto:contact@SpaceColony.One">Contact us</a></div>

  </body>
</html>
